.team-link {
  text-decoration: none;
  color: #ffffff;
}
.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-box {
  text-align: center;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}
.team-box:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all ease-in-out 0.1s;
}
.team-badge {
  width: 80%;
}
.search-bar {
  text-align: center;
}
.search-input {
  width: 80%;
  height: 80%;
  font-size: 1.6rem;
  border-radius: 10px;
}
