.team-link {
  text-decoration: none;
  color: #ffffff;
}
.team-box:hover {
  cursor: pointer;
}
.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-box {
  text-align: center;
  width: 11rem;
  margin: 1rem;
  box-sizing: border-box;
}

.team-badge {
  width: 80%;
}
